# ignore these files/folders
.*
*.log
node_modules
/coverage
/dist
/build
tags*

# allow these files/folders
!.gitignore
!.nvmrc
!.firebaserc*
!.stylelintrc*
!.eslintrc*
!.eslintignore
!.postcssrc
!.editorconfig
!.storybook
!.babelrc
!.prerender-spa.json
